tenancy_ocid             = ""
user_ocid                = ""
fingerprint              = ""
oci_private_key_path     = "~/.oci/oci_api_key.pem"
region                   = "us-ashburn-1"
compartment_id           = ""
availability_domain      = "Uocm:US-ASHBURN-AD-1"
arm64_image_id           = ""
ssh_public_key           = "ssh-ed25519 AAAA... you@example.com"
ssh_allowed_cidr         = "0.0.0.0/0"
object_storage_namespace = ""
